[class^="ico-"],
[class*=" ico-"] {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *margin-right: .3em;
  vertical-align: middle;
  padding: 0;
}

.ico-sprite, .ico-a-fail, .ico-a-ok, .ico-a, .ico-b-fail, .ico-b-ok, .ico-b, .ico-c-fail, .ico-c-ok, .ico-c, .ico-correto-empty, .ico-correto-fill, .ico-gota-left, .ico-gota-right, .ico-incorreto-empty, .ico-incorreto-fill, .ico-tri-bl, .ico-tri-br, .ico-tri-tl, .ico-tri-tr, .quizResultadoResposta.fail, .quizResultadoResposta.ok, .quizShowResultado .txt .pontos.fail, .quizShowResultado .txt .pontos.ok {
  background: url('../images/sprites/ico-sc8300af8ec.png') no-repeat;
}

.ico-a-fail {
  background-position: 0 -148px;
  height: 37px;
  width: 37px;
}

.ico-a-ok {
  background-position: 0 -37px;
  height: 37px;
  width: 37px;
}

.ico-a {
  background-position: -37px -37px;
  height: 37px;
  width: 37px;
}

.ico-b-fail {
  background-position: 0 0;
  height: 37px;
  width: 37px;
}

.ico-b-ok {
  background-position: -37px 0;
  height: 37px;
  width: 37px;
}

.ico-b {
  background-position: -74px 0;
  height: 37px;
  width: 37px;
}

.ico-c-fail {
  background-position: -74px -37px;
  height: 37px;
  width: 37px;
}

.ico-c-ok {
  background-position: 0 -111px;
  height: 37px;
  width: 37px;
}

.ico-c {
  background-position: -37px -111px;
  height: 37px;
  width: 37px;
}

.ico-correto-empty {
  background-position: 0 -648px;
  height: 130px;
  width: 130px;
}

.ico-correto-fill {
  background-position: 0 -518px;
  height: 130px;
  width: 130px;
}

.ico-gota-left {
  background-position: 0 -203px;
  height: 55px;
  width: 55px;
}

.ico-gota-right {
  background-position: -37px -148px;
  height: 55px;
  width: 55px;
}

.ico-incorreto-empty {
  background-position: 0 -258px;
  height: 130px;
  width: 130px;
}

.ico-incorreto-fill {
  background-position: 0 -388px;
  height: 130px;
  width: 130px;
}

.ico-tri-bl {
  background-position: 0 -74px;
  height: 37px;
  width: 37px;
}

.ico-tri-br {
  background-position: -74px -74px;
  height: 37px;
  width: 37px;
}

.ico-tri-tl {
  background-position: -37px -74px;
  height: 37px;
  width: 37px;
}

.ico-tri-tr {
  background-position: -74px -111px;
  height: 37px;
  width: 37px;
}

[class^="ico-"]:last-child,
[class*=" ico-"]:last-child {
  *margin-left: 0;
}

html {
  font-size: 1em/1.5;
  font-family: false, Arial, sans-serif;
  overflow-y: scroll;
  min-height: 100%;
}

.caecilia, .quizTitulo, .quizFrame .quizPergunta, .quizFrame .quizRespostas li, .quizResultadoResposta span, .quizTip span,
.quizAtual span, .quizTipBox, .quizShowResultado .txt {
  font-family: "CaeciliaLTStd-Bold", Arial, sans-serif;
}

.wrapperQuiz {
  width: 693px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.quizTitulo {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #007e7a;
}

.quizFrame {
  position: relative;
  overflow: hidden;
}
.quizFrame .quizImg {
  width: 693px;
  height: 333px;
  display: block;
}
.quizFrame .quizPergunta {
  font-size: 26px;
  font-size: 1.625rem;
  background-color: #00b4cb;
  color: white;
  display: block;
  margin: 0;
  padding: 20px;
}
.quizFrame .quizRespostas {
  margin: 0;
  padding: 0;
  list-style: none;
}
.quizFrame .quizRespostas li {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 10px;
  background-position: 20px 50%;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  color: #00b4cb;
  padding: 20px;
  padding-left: 77px;
  cursor: pointer;
}
.quizFrame .quizRespostas li.a {
  background-image: url('../images/sprites/ico/a.png?1369433111');
}
.quizFrame .quizRespostas li.a.fail {
  background-image: url('../images/sprites/ico/a-fail.png?1369666813');
  background-color: #d11142;
  color: white;
}
.quizFrame .quizRespostas li.a.ok {
  background-image: url('../images/sprites/ico/a-ok.png?1369666791');
  background-color: #7ac142;
  color: white;
}
.quizFrame .quizRespostas li.b {
  background-image: url('../images/sprites/ico/b.png?1369432819');
}
.quizFrame .quizRespostas li.b.fail {
  background-image: url('../images/sprites/ico/b-fail.png?1369666746');
  background-color: #d11142;
  color: white;
}
.quizFrame .quizRespostas li.b.ok {
  background-image: url('../images/sprites/ico/b-ok.png?1369666764');
  background-color: #7ac142;
  color: white;
}
.quizFrame .quizRespostas li.c {
  background-image: url('../images/sprites/ico/c.png?1369432770');
}
.quizFrame .quizRespostas li.c.fail {
  background-image: url('../images/sprites/ico/c-fail.png?1369666697');
  background-color: #d11142;
  color: white;
}
.quizFrame .quizRespostas li.c.ok {
  background-image: url('../images/sprites/ico/c-ok.png?1369666644');
  background-color: #7ac142;
  color: white;
}

.quizResultadoResposta {
  width: 130px;
  width: 8.125rem;
  height: 130px;
  height: 8.125rem;
  margin-left: -65px;
  margin-left: -4.0625rem;
  margin-top: -65px;
  margin-top: -4.0625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  color: white;
}
.quizResultadoResposta.fail {
  background-position: 0 -388px;
}
.quizResultadoResposta.ok {
  background-position: 0 -518px;
}
.quizResultadoResposta span {
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  top: 85px;
}

.quizTip,
.quizAtual {
  position: absolute;
  top: -5px;
  color: white;
}
.quizTip span,
.quizAtual span {
  font-size: 27px;
  font-size: 1.6875rem;
  position: relative;
  top: 10px;
}

.quizAtual {
  left: -5px;
}

.quizTip {
  right: -5px;
  cursor: pointer;
}

.quizTipBox {
  width: 225px;
  width: 14.0625rem;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 20px;
  padding: 1.25rem;
  padding-top: 55px;
  padding-top: 3.4375rem;
  position: absolute;
  top: 0;
  right: 0;
  color: #00b4cb;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}

.quizShowResultado {
  width: 693px;
  height: 333px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.quizShowResultado.ok {
  background-color: #00b4cb;
}
.quizShowResultado.fail {
  background-color: #ecb11f;
}
.quizShowResultado .tl, .quizShowResultado .tr,
.quizShowResultado .bl, .quizShowResultado .br {
  position: absolute;
}
.quizShowResultado .tl {
  top: 10px;
  left: 10px;
}
.quizShowResultado .tr {
  top: 10px;
  right: 10px;
}
.quizShowResultado .bl {
  bottom: 10px;
  left: 10px;
}
.quizShowResultado .br {
  bottom: 10px;
  right: 10px;
}
.quizShowResultado table {
  width: 100%;
  height: 100%;
}
.quizShowResultado table td {
  height: 100%;
}
.quizShowResultado .txt {
  width: 420px;
  margin: 0 auto;
  color: white;
}
.quizShowResultado .txt .pontos {
  width: 130px;
  height: 130px;
  display: block;
  margin: 0 auto;
}
.quizShowResultado .txt .pontos.fail {
  background-position: 0 -258px;
}
.quizShowResultado .txt .pontos.ok {
  background-position: 0 -648px;
}
.quizShowResultado .txt .pontos div {
  font-size: 60px;
  font-size: 3.75rem;
  line-height: 20px;
  line-height: 1.25rem;
  position: relative;
  top: 45px;
}
.quizShowResultado .txt .pontos div span {
  font-size: 16px;
  font-size: 1rem;
}
.quizShowResultado .txt .tituloMsg {
  font-size: 37px;
  font-size: 2.3125rem;
}
.quizShowResultado .txt .corpoMsg {
  font-size: 27px;
  font-size: 1.6875rem;
}
.quizShowResultado .txt .corpoMsg a {
  font-size: 16px;
  font-size: 1rem;
  padding: 10px;
  padding: 0.625rem;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: white;
  background-color: #007e7a;
  text-decoration: none;
}

.ir {
  border: 0;
  font: 0/0 Arial;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.bb, .quizTipBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both;
  float: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.relative {
  position: relative;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc, .quizResultadoResposta, .quizTip,
.quizAtual, .quizShowResultado .txt {
  text-align: center;
}
