html{
    font-size: #{($base-font-size/16px)*1em}/1.5;
    @include sans-serif;
    overflow-y:scroll;
    min-height:100%;
}

.caecilia{
    @include sans-serif('CaeciliaLTStd-Bold');
}

.wrapperQuiz{
    width: $frameWidth;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.quizTitulo{
    @extend .caecilia;
    @include attr-size('font-size', 21);
    color: $darkgreen;
}

.quizFrame{
    position: relative;
    .quizImg{
        width: $frameWidth;
        height: 333px;
        display: block;
    }
    .quizPergunta{
        @extend .caecilia;
        @include attr-size('font-size', 26);
        background-color: $blue;
        color: $white;
        display: block;
        margin: 0;
        padding: $padding;
    }
    .quizRespostas{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            @extend .caecilia;
            @include attr-size('font-size', 20);
            margin-bottom: $padding / 2;
            background: {
                position: 20px 50%;
                repeat: no-repeat;
                color: $gray;
            }
            color: $blue;
            padding: $padding;
            padding-left: $padding * 2 + 37px;
            cursor: pointer;
            @each $letra in 'a', 'b', 'c' {
                &.#{$letra}{
                    background-image: image_url('sprites/ico/#{$letra}.png');
                    &.fail{
                        background-image: image_url('sprites/ico/#{$letra}-fail.png');
                        background-color: $red;
                        color: $white;
                    }
                    &.ok{
                        background-image: image_url('sprites/ico/#{$letra}-ok.png');
                        background-color: $green;
                        color: $white;
                    }
                }
            }
        }
    }
}

.quizResultadoResposta {
    // Way 1
    // $file: sprite-file($ico-sprites, 'correto-fill');
    // $width: image-width($file);
    // $height: image-height($file);

    // Way 2
    // @include ico-sprite('correto-fill');
    $width: ico-sprite-width('correto-fill');
    $height: ico-sprite-height('correto-fill');

    // Full
    // @include sprite-dimensions($ico-sprites, 'correto-fill');

    @extend .tc;
    @extend .caecilia;
    @include attr-size('font-size', 16);
    @include attr-size('width', $width);
    @include attr-size('height', $height);

    @include attr-size('margin-left', -($width / 2));
    @include attr-size('margin-top', -($height / 2));

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    color: $white;
    &.fail{
        @include ico-sprite('incorreto-fill');
    }
    &.ok{
        @include ico-sprite('correto-fill');
    }
    span{
        position: relative;
        top: 85px;
    }
}
